#price {
  width: 90%;
  margin: auto;
  margin-top: 60px;
  display: flex;
  padding: 20px 0px;
  justify-content: space-between;
  h4 {
    color: color(dark-blue-wine);
  }
  .empty {
    background-color: color(brick-wine);
    color: white;
  }
}

#cartItems {
  h1 {
    text-align: center;
  }
  .table {
    tbody {
      td a {
        background-color: color(brick-wine);
        color: white;
      }
    }
  }
}

@media (max-width: 500px) {
  #price {
    display: block;
    text-align: center;
    h4 {
      margin-bottom: 15px;
    }
  }
  #cartItems {
    h1 {
      font-size: 24px;
    }
  }
}
