#activity {
  width: 100%;
  height: fit-content;
  padding: 60px 0px;
  overflow: hidden;
  &__heading {
    h3 {
      text-align: center;
      margin: 20px 0px 10px 0px;
    }
    #line {
      width: 100px;
      height: 2px;
      margin: auto;
      background-color: color(brick-wine);
    }
  }
}
